.header {
    background-color: #39baec;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header h1 {
    color: #333;
    font-size: 30px;

}

.header nav ul {
    font-size: 25px;
    padding: 0;
}

.header nav li {
    display: inline-block;
    margin-right: 20px;
}

.header nav a {
    color: #4207a0;
    text-decoration: none;
}